@font-face {
  font-family: PublicSans-Bold;
  src: url("../fonts/PublicSans-Bold.ttf");
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
@font-face {
  font-family: PublicSans-SemiBold;
  src: url("../fonts/PublicSans-SemiBold.ttf");
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
@font-face {
  font-family: PublicSans-Medium;
  src: url("../fonts/PublicSans-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: PublicSans-Light;
  src: url("../fonts/PublicSans-Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: PublicSans-Regular;
  src: url("../fonts/PublicSans-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: PublicSans-Thin;
  src: url("../fonts/PublicSans-Thin.ttf");
  font-style: normal;
}
@import "../../../node_modules/antd/dist/antd.min.css";
@import "../../../node_modules/suneditor/dist/css/suneditor.min.css";
